@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Comfortaa", sans-serif;
}

body {
  position: relative;
  padding: 10px;
  background-color: #383838;
  background: url(texture3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

header {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  border: 1px solid #a2a2a2;
  background-color: rgba(44, 43, 43, 0.2078431373);
}
header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 30px;
  border: 1px solid #a2a2a2;
  padding: 10px 40px;
  background: linear-gradient(170deg, white, rgb(64, 64, 64));
  box-shadow: inset 2px 2px 2px 0 #fff;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
}
header nav button:hover {
  background: #e1e1e1;
}
header nav button:active {
  background-color: #5e5e5e;
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}
header nav button i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 20px;
}
header ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header ul li {
  list-style: none;
}
header ul a {
  text-decoration: none;
  color: #d4d4d4;
  font-size: 22px;
}
header ul a:hover {
  color: #850000;
}

main {
  display: flex;
  flex-direction: column;
  color: #d4d4d4;
}
main .welcome-section {
  min-height: 100vh;
  display: flex;
}
main .welcome-section .side-bar-left {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  top: 30%;
  left: 50px;
}
main .welcome-section .side-bar-left .sbl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: relative;
}
main .welcome-section .side-bar-left .sbl::after {
  content: " ";
  position: absolute;
  width: 2px;
  display: block;
  height: 50px;
  background-color: aliceblue;
  top: 50px;
  left: 24px;
}
main .welcome-section .side-bar-left .sbl:first-child::before {
  content: " ";
  position: absolute;
  width: 2px;
  display: block;
  height: 50px;
  background-color: aliceblue;
  top: -50px;
  left: 24px;
}
main .welcome-section .side-bar-left .sbl i {
  font-size: 40px;
  display: flex;
  color: #dadada;
}
main .welcome-section .main-container {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 150px;
  margin-bottom: 150px;
  color: #d4d4d4;
}
main .welcome-section .main-container p:nth-child(1) {
  font-size: 56px;
  font-weight: bold;
  align-self: flex-start;
  margin-left: 50px;
}
main .welcome-section .main-container p:nth-child(1)::after {
  content: "";
  display: block;
  position: relative;
  bottom: -5px;
  right: -125px;
  width: 70%;
  height: 2px;
  background-color: #dadada;
}
main .welcome-section .main-container .about {
  color: #d4d4d4;
}
main .welcome-section .main-container h1 {
  font-size: 54px;
  font-weight: bold;
  max-width: 600px;
  text-shadow: #fc0 1px 0 10px;
}
main .welcome-section .main-container h1 span {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: bold;
  color: #020289;
  text-shadow: 3px 3px 2px rgb(0, 136, 255), 10px 10px 1em blue;
}
main .welcome-section .side-bar-right {
  position: fixed;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  top: 40%;
  right: 0;
}
main .welcome-section .side-bar-right .sbr {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .welcome-section .side-bar-right .sbr:not(:last-child)::after {
  content: " ";
  position: absolute;
  width: 2px;
  display: block;
  height: 50px;
  background-color: aliceblue;
  top: 20px;
  left: 9px;
}
main .welcome-section .side-bar-right .ball-blue {
  background-color: #020289;
  border: 1px solid #0000e6;
}
main .skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 30px auto;
  gap: 50px;
}
main .skills-section h2 {
  align-self: start;
  font-size: 56px;
}
main .skills-section .grid-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 20px;
}
main .skills-section .grid-container .grid-block {
  display: flex;
  border: #fff;
  background-color: #a2a2a2;
  border-radius: 10px;
  border: 1px solid #a2a2a2;
  background-color: rgba(44, 43, 43, 0.2078431373);
}
main .skills-section .grid-container .grid-block .side-block {
  padding: 20px;
}
main .skills-section .grid-container .grid-block .description-block {
  padding: 20px;
}
main .skills-section .grid-container .grid-block .description-block .desc-header {
  margin-bottom: 10px;
}
main .project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 30px auto;
  gap: 50px;
  min-height: 100vh;
}
main .project-section h2 {
  font-size: 56px;
  align-self: start;
}
main .project-section .project-slider {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
main .project-section .btn-arrow {
  cursor: pointer;
}
main .project-section .btn-arrow i {
  font-size: 40px;
}
main .project-section .slide-js {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: auto;
  height: 400px;
  transition: transform 0.5s ease;
}
main .project-section .slide-js .slider-img-js {
  border-radius: 20px;
  width: 65%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
}
main .project-section .slide-js .slider-text-box-js {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}
main .project-section .slide-js .slider-text-box-js h3 {
  margin-bottom: 20px;
  font-size: 42px;
}
main .project-section .slide-js .slider-text-box-js ul .stack-box-js {
  list-style: none;
  padding: 0;
}
main .project-section .slide-js .slider-text-box-js ul li {
  display: inline-block;
  margin-right: 10px;
}
main .project-section .slide-js .slider-text-box-js ul li img {
  width: 70px;
  height: 70px;
}
main .project-section .slide-js .slider-text-box-js .button-more-js {
  display: flex;
  width: 150px;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  background: linear-gradient(170deg, white, rgb(64, 64, 64));
}
main .project-section .slide-js .slider-text-box-js .button-more-js:hover {
  background: #e1e1e1;
}
main .project-section .slide-js .slider-text-box-js .button-more-js:active {
  background-color: #5e5e5e;
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

/*# sourceMappingURL=style.css.map */
